<style>
    label{
        font-size: 14px;
        text-decoration: none;
    }
</style>
<div class="container">
  <div class="center-quiz number-quiz">
    <%= render 'welcome/resource' %>
    <h1 align="center">Vamos as perguntas!</h1>
    <br />
    <div class="row">
      <div class="col-lg-6">
        <div class="media">
          <h2 class="media-left"> Valendo: <%= number_to_currency @round.worth %></h2>
          <br />
          <div class="media-body question-quiz text-small"> <%= @round.question.description %></div>
        </div>
        <br />
        <%= form_for(@round, url: { controller: :rounds, action: :next, method: :patch },
                     html: {role: 'form'}) do |f| %>

            <% the_answers(@round).each do |answer| %>
                <%= f.radio_button(:answer_id, answer.id, required: true) %>
                <%= f.label :answer_id, answer.title %>
                <br />
            <% end %>

            <% if notice.blank? %>
                <div class="col-md-6">
                  <%= f.submit 'Confirmar!', class: 'btn btn-primary center-block' %>
                </div>
            <% else %>
                <div class="alert alert-warning alert-dismissible fade in text-center" role="alert">
                  <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                  </button>
                  <strong>ATENÇÃO: </strong> <%= notice %>
                </div>
                <%= link_to 'Ranking!!!', game_path(@round.game),
                            class: 'btn btn-success center-block' %>
            <% end %>
        <% end %>
        <%= form_for(@round, url: { controller: :rounds, action: :jump, method: :patch },
                     html: {role: 'form'}) do |f| %>

            <% if @round.game.has_jumps? %>
                <%= f.submit ' Pular! ', class: 'btn btn-warning center-block' %>
            <% else %>
                <%= f.submit ' Pular! ', class: 'btn btn-warning center-block', disabled: true %>
            <% end %>
        <% end %>
      </div>
      <div class="col-lg-6">
        <video autoplay id="videoElement" class="img-rounded"></video>
      </div>
    </div>
  </div>
  <!-- /.center-quiz .number-quiz -->
</div>
<!-- /.container -->
<script>
    var video = document.querySelector("#videoElement");
    navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia;
    if (navigator.getUserMedia) {
        navigator.getUserMedia({video: true}, handleVideo, videoError);
    }
    function handleVideo(stream) {
        video.src = window.URL.createObjectURL(stream);
    }
    function videoError(e) {
        // do something
    }

    $("#edit_round_133").change(function() {
        var action = $(this).val() == "some_value" ? "login" : "sign_up";
        $("#your-form").attr("action", "/" + action);
    });
</script>
