<div class="portlet-content">
  <%= form_for(@answer) do |f| %>
      <% if @answer.errors.any? %>
          <div class="alert alert-warning alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <strong>
              EEII, foram encontrados <%= pluralize(@answer.errors.count, 'erro') %>!
            </strong> e por isso você precisa corrigí-los antes de continuar!!

            <ul>
              <% @answer.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="form-group col-md-12">
        <%= f.label :title, 'Título' %><br />
        <%= f.text_field :title, class: 'form-control', maxlength: 255 %>
      </div>

      <div class="form-group col-md-12">
        <%= f.label :subject_id, 'Assunto' %><br />
        <%= f.select :subject_id, @subjects.collect{|sub| [sub.title, sub.id]}, { },
                     { required: true, class: 'form-control' } %>
      </div>
      <div class="form-group col-md-6">
        <%= f.submit 'Salvar Resposta!', class: 'btn btn-success' %>
      </div>
  <% end %>
</div>