<h1>Listing games</h1>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Worth</th>
      <th>Image</th>
      <th>Winner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.player %></td>
        <td><%= game.worth %></td>
        <td><%= game.image %></td>
        <td><%= game.winner %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
